<html xml:base="index.html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h1>用户信息表</h1>
<h1>最多存放6名用户的数据</h1>
<br>

<!--/*@thymesVar id="user0" type="MavenWrapperDownloader"*/-->
<td th:text="${user0}">用户表为空</td>
<form action="删除用户0" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户0" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
<!--/*@thymesVar id="user1" type="MavenWrapperDownloader"*/-->
<td th:text="${user1}">用户表为空</td>
<form action="删除用户1" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户1" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
<!--/*@thymesVar id="user2" type="MavenWrapperDownloader"*/-->
<td th:text="${user2}">用户表为空</td>
<form action="删除用户2" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户2" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
<!--/*@thymesVar id="user3" type="MavenWrapperDownloader"*/-->
<td th:text="${user3}">用户表为空</td>
<form action="删除用户3" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户3" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
<!--/*@thymesVar id="user4" type="MavenWrapperDownloader"*/-->
<td th:text="${user4}">用户表为空</td>
<form action="删除用户4" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户4" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
<!--/*@thymesVar id="user5" type="MavenWrapperDownloader"*/-->
<td th:text="${user5}">用户表为空</td>
<form action="删除用户5" method="post">
    <button type="submit">删除用户</button>
</form>
<form action="查看用户5" method="post">
    <button type="submit">查看该用户购买交易信息</button>
</form>
<br><br>
</body>
</html>
