<html xml:base="index.html">
<head>

</head>
<body>
<h1>登录界面</h1>
<br>
<form action="登录判定" method="post">
用户名：       <input type="text" name="username">
密码：         <input type="password" name="password">
              <button type="submit">确认提交</button>
</form>
<br>
<br>
<br>
我想要修改我的密码: &nbsp;&nbsp;&nbsp;
<br>
<form action="修改密码" method="post">
    用户名：       <input type="text" name="username">
    修改密码：      <input type="password" name="password">
    <button type="submit">修改密码</button>
</form>
</body>
</html>
