<html xml:base="加入购物车.html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .divtext01{
            style: "padding-left: 100px;"
        }
        .divtext02{
            style: "padding-left: 500px;"
        }
    </style>
</head>
<body>
<h1>购物车界面</h1>
<br>
<h1>您的购物车物品是:</h1>
<h3>请核对:</h3>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--/*@thymesVar id="shopping" type="MavenWrapperDownloader"*/-->
<td th:text="${shopping}">你当前购物车为空!</td>
&nbsp;一共<!--/*@thymesVar id="cost" type="MavenWrapperDownloader"*/-->
<td th:text="${cost}">0</td>元
</body>

<div class="div1">
    <div class="divtext01" >
        <form action="我不想要了" method="post">
            <button type="submit">我不想要了</button>
        </form>
    </div>
</div>
</html>